{% extends 'main.html'%} {%block content%}

<style>
  .card_project {
    overflow: hidden; /* Ensures that children elements stay inside */
    position: relative; /* Helps with positioning elements inside */
    border: 0cap;
  }
  .project__thumbnail {
    max-width: 100%; /* Ensure the image fits within the container */
    height: auto;
    display: block; /* Prevents the image from being treated as an inline element */
  }
</style>

<!-- Main Section -->
<main class="projects">
  <section class="hero-section text-center">
    <div class="container container--narrow">
      <div class="hero-section__box">
        <h2>Search for <span>Projects</span></h2>
      </div>

      <div class="hero-section__search">
        <form class="form" action="{% url 'details'%}" method="get">
          <div class="form__field">
            <label for="formInput#search">Search By Car Details </label>
            <input
              class="input input--text"
              id="formInput#search"
              type="text"
              name="search_query"
              placeholder="Search by Company or model"
              value="{{search_query}}"
            />
          </div>

          <input class="btn btn--sub btn--lg" type="submit" value="Search" />
        </form>
      </div>
    </div>
  </section>
  <!-- Search Result: DevList -->
  <section class="projectsList">
    <div class="container">
      <div class="grid grid--three">
        {% for detail in allDetails %}
        <div class="column">
          <div class="card_project">
            <a href="{% url 'detail' detail.uuid %}" class="project">
              {% if detail.image %}
              <img
                class="project__thumbnail"
                src="{{ detail.image.url }}"
                alt="project thumbnail"
              />
              {% else %}
              <p>No image available</p>
              {% endif %}
              <div class="card__body">
                <h3 class="project__title">{{ detail.company }}</h3>
                <p>
                  <a
                    class="project__author"
                    href="{% url 'detail' detail.uuid %}"
                    >{{ detail.model }} - {{ detail.year }}</a
                  >
                </p>
                <p>
                  {% if detail.owner %}
                      <a class="project__author" href="{% url 'user-profile' detail.owner.uuid %}">By {{ detail.owner.name }}</a>
                  {% else %}
                      <span>No owner assigned</span>
                  {% endif %}

                </p>
                <p class="project--rating">
                  <span style="font-weight: bold"
                    >{{ detail.description }}</span
                  >
                </p>
                <div class="project__tags">
                  {% for variant in detail.variant.all %}
                  <span class="tag tag--pill tag--main">
                    <small>{{ variant }}</small>
                  </span>
                  {% endfor %}
                </div>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <div class="pagination">
    <ul class="container">

      {% if allDetails.has_previous %}
      <li><a href="?page={{allDetails.previous_page_number}}" class="btn page-link "> &#10096; Prev</a></li>
      {%endif%}
      
      {%for page in paginator.page_range%}

        {%if page == allDetails.number%}
        <li><a href="?page={{page}}" class="btn page-link btn--sub">{{page}}</a></li>
        {%else%}
        <li><a href="?page={{page}}" class="btn page-link">{{page}}</a></li>
        {%endif%}
        
      {%endfor%}

      {% if allDetails.has_next %}
      <li><a href="?page={{allDetails.next_page_number}}" class="btn page-link ">Next &#10097;</a></li>
      {%endif%}
    </ul>
  </div>
</main>

{%endblock content%}
